{{>navbar}}
<div id="username" style="display: none;">{{ username }}</div>
<div id="header" class="text-center mx-3">
    <h1 class="p-3">MY CART</h1>
</div>
{{!-- {{#each products as |item|}} --}}
<div class="container">
    {{!-- <div class="card mb-3" style="max-width: 800px;" id={{item.item_Id}}>
        <div class="row">
            <div class="col-sm-4 text-center">
                <img src="{{item.item_img_url}}" class="card-img" alt="...">
            </div>
            <div class="col-sm-8">
                <div class="card-body">
                    <h5 class="card-title">{{item.item_name}}</h5>
                    <p class="card-text">{{item.item_description}}</p>
                    <button type="button" class="btn btn-primary cart-btn mx-2 my-2">ADD TO CART</button>
                    <button type="button" class="btn btn-danger remove-btn mx-2 my-2">REMOVE</button>
                </div>
            </div>
        </div>
    </div> --}}
</div>
{{!-- <button>hii</button>
<p></p> --}}

{{!-- {{/each}} --}}